* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  background: #000;
}

header>.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo svg {
  filter: invert(1);
  width: 135px;
}

header .menu nav ul li {
  display: inline-flex;
}

header .menu nav ul li a {
  text-decoration: none;
  padding: 30px 17px;
  color: #fff;
  font-weight: 700;
  font-family: "Circular Air Book";
}

header .menu nav ul li a:hover {
  color: #1ed760;
}

header .menu nav ul li.separator {
  width: 1px;
  height: 17px;
  background: #fff;
  margin: -4px auto;
}



/* SECTION 1 */
.sect1{
  background: #a5ffef;
}

.sect1> .container{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 80px 0 40px;
}

.sect1 .sect1-texts{
  width: 53%;
  padding-right:50px;
  display: flex;
  flex-direction: column;
}

.sect1 .sect1-texts p.sect1-txt1{
  margin: 14px 0 32px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Circular Air Book';
  font-weight: bold;
  color: #cb1582;
  letter-spacing: 0.05em;
}

.sect1 .sect1-texts h1.sect1-txt2{
  font-size: 64px;
  font-family:'Circular Air Book';
  line-height: 64px !important;
  color: #cb1582;
  margin-bottom: 10px;
}

.sect1 .sect1-texts p.sect1-txt3{
  font-size: 18px;
  font-family: 'Circular Air Book';
  color: #cb1582;
  font-weight: 500;
  margin-bottom: 10px;
}


.sect1 .sect1-texts p.sect1-txt4{
  font-size: 18px;
  font-family: 'Circular Air Book';
  color: #cb1582;
  font-weight: 500;
  margin-top: 8px;
}


.sect1 .sect1-texts .btn-g3mf{
  padding: 17px 48px;
  background: #cb1582;
  border-radius: 50px;
  width: 307px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  font-family: 'Circular Air Book';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 39px;
}

.sect1 .sect1-texts .btn-g3mf:hover{
  background-color: #fff;
  color: #000;
}

.sect1 .sect1-texts .btn-g3mf:active{
  background-color: #8e0f5b;
  color: #fff;
}

.sect1 .sect1-texts span.sect1-txt5{
  font-size: 13px;
  margin: 27px 0;
  color: #cb1582;
  font-family: 'Circular Air Book';
}

.sect1 .sect1-img{
  background-image: url(/img/holiday-2020-second-wave.jpg);
  width: 500px;
  height: 500px;
  padding-left: 56px;
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  margin: 16px 0;
}


/* SECTION 2 */

.sect2{
  background: #cb1582;
}

.sect2> .container{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 130px 0;
}

.sect2 > .container .wrapper-img-sect2{
  width: 45%;
  position: relative;
}

.sect2 > .container .wrapper-img-sect2 .sect2-img{
  background-size: 100% 324px;
  padding: 0 55px;
  background: linear-gradient(359.37deg, #000 3.09%, #FF4632 22.4%, #FAE62D 46.64%, #9BF0E1 62.15%, #A0C3D2 79.91%, #4100F5 99.49%);
  background-repeat: no-repeat;
  height: 390px;
  width: 100%;
}

.sect2 > .container .wrapper-img-sect2 .front-img{
  width: 80%;
  background: #a5ffef;
  position: absolute;
  height: calc(100% + 80px);
  top: -40px;
  padding: 40px;
  transform: translate(-50%, 0);
  left: 50%;
  display: flex;
  align-items: flex-end;
}

.sect2 > .container .wrapper-img-sect2 .front-img h4{
  font-size: 45px;
  font-family: 'Circular Air Book';
  line-height: 70px;
  color: #cb1582;
  letter-spacing: -0,04em;
  font-weight: 100;
}

.sect2 > .container .wrapper-txts-sect2{
  width: 55%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -40px;
}

.sect2 p.sect2-txt1{
  margin: 0 0 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Circular Air Book';
  font-weight: 500;
  color: #a5ffef;
  letter-spacing: 0.09em;
}

.sect2 .sect2-txt2{
  font-size: 70px;
  font-family: 'Circular Air Book';
  line-height: 75px;
  margin-bottom: 40px;
  color: #a5ffef;
  font-weight: 100;
}

.sect2 .sect2-txt3{
  font-size: 18px;
  line-height: 24px;
  color: #a5ffef;
  font-family: 'Circular Air Book';
  margin-bottom: 40px;
  font-weight: 100;
}

.sect2 .wrapper-txts-sect2 .btn-csr{
  padding: 17px 48px;
  background: #a5ffef;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  color: #cb1582;
  font-weight: bold;
  font-family: 'Circular Air Book';
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 70%;
}

.sect2 .wrapper-txts-sect2 .btn-csr:hover{
  background: #fff;
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
